{% extends 'back/base.html.twig' %}

{% block title %}Romain Back Office - Accueil{% endblock %}

{% block body %}
    <h1>Les collections</h1>

    <div class="portfolio-cards row">
        {% for portfolio in portfolios %}
            <div class="card col-4 cards">
                <a href="{{ path('portfolio_read_pictures', {'id': portfolio.id}) }}" ><img class="card-img-top" src="{{ asset(portfolio.picture) }}" alt="Card image cap"></a>
                <div class="card-body cards-body">
                    <h5 class="card-title">{{ portfolio.name }}</h5>
                    <p class="card-text">{{ portfolio.description }}</p>
                    <a href="{{ path('portfolio_read_pictures', {'id': portfolio.id}) }}" class="btn btn-primary">Ouvrir</a> 
                    <div class="change-buttons">
                        {{ include('back/portfolio/_delete_form.html.twig') }}
                    </div>                   
                </div>
            </div>
        {% endfor %}
    </div>
    

    <a class="btn btn-primary" href="{{ path('portfolio_add') }}">Créer une nouvelle collection</a>
{% endblock %}
