{% extends 'back/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Les collections</h1>

    <div class="portfolio-cards">
        {% for portfolio in portfolios %}
            <div class="card" style="width: 18rem;">
                <a href="{{ path('portfolio_show', {'id': portfolio.id}) }}" ><img class="card-img-top" src="{{ asset(portfolio.picture) }}" alt="Card image cap"></a>
                <div class="card-body portfolio-body">
                    <h5 class="card-title">{{ portfolio.name }}</h5>
                    <p class="card-text">{{ portfolio.description }}</p>
                    <a href="#" class="btn btn-primary">Ouvrir</a>
                    <a href="{{ path('portfolio_show', {'id': portfolio.id}) }}">Détail</a>
                    <a href="{{ path('portfolio_edit', {'id': portfolio.id}) }}">Modifier</a>
                </div>
            </div>
        {% endfor %}
    </div>
    

    <a href="{{ path('portfolio_new') }}">Créer une nouvelle collection</a>
{% endblock %}
