{% extends 'back/base.html.twig' %}

{% block title %}Photography index{% endblock %}

{% block body %}
    <h1>Toutes les photographies</h1>

    <div class="photography-card row">
        {% for photography in photographies %}
            <div class="card cards col-4">
                <img class="card-img-top" src="{{ asset(photography.picture) }}" alt="Card image cap">
                <div class="card-body cards-body">
                    <h5 class="card-title">{{ photography.title }}</h5>
                    <p class="card-text">{{ photography.description }}</p>
                    <a href="{{ path('photography_read', {'id': photography.id}) }}" class="btn btn-primary">Ouvrir</a>
                    <div class="change-buttons">
                        <a href="{{ path('photography_edit', {'id': photography.id}) }}" class="btn btn-warning">Modifier</a>
                        {{ include('back/photography/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <a href="{{ path('photography_add') }}">Create new</a>
{% endblock %}
