{% extends 'back/base.html.twig' %}

{% block title %}Romain Back Office - Détails de photographie{% endblock %}

{% block body %}
    <h1>Détails - {{ photography.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ photography.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ photography.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ photography.description }}</td>
            </tr>
            <tr>
                <th>Description textuelle</th>
                <td>{{ photography.textualAlternative }}</td>
            </tr>
            <tr>
                <th>Emplacement</th>
                <td>{{ photography.picture }}</td>
            </tr>
            <tr>
                <th>Ordre d'apparition</th>
                <td>{{ photography.imgOrder }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ photography.createdAt ? photography.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de modification</th>
                <td>{{ photography.updatedAt ? photography.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-warning" href="{{ path('photography_edit', {'id': photography.id}) }}">Modifier</a>

    {{ include('back/photography/_delete_form.html.twig') }}

    <a href="{{ path('portfolio_read_pictures', {'id': photography.portfolio.id}) }}">Retour à la collection</a>
{% endblock %}
