{% extends 'back/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% for biography in biographies %}
        <div class="card text-center">
            <div class="card-header">
                Biographie
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ biography.title }}</h5>
                <p class="card-text">{{ biography.description }}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                {# <a href="{{ path('biography_show', {'id': biography.id}) }}">show</a> #}
                <a href="{{ path('biography_edit', {'id': biography.id}) }}">edit</a>
            </div>
            <div class="card-footer text-muted">
                {% if biography.updatedAt %}
                    Biographie mise à jour le {{ biography.updatedAt }}
                {% else %}
                    Bigraphie créée le {{ biography.createdAt }}
                {% endif %}
            </div>
        </div>
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}

    

    <a href="{{ path('biography_new') }}">Create new</a>
{% endblock %}
